<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400" rel="stylesheet" />
    <link rel="stylesheet" href="{{ "/css/main.css" | relativize_url }}">
    <link rel="icon" href="{{ "/graphql-ruby-icon.png" | relativize_url }}">
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
