<% content_for(:title, "Subscriptions") %>

<div class="row">
  <div class="col-md col-lg-8 mx-auto pt-4">
    <div class="card mt-4">
      <div class="card-body">
        <div class="card-title">
          <h2>
            GraphQL-Pro Subscriptions aren't installed on this schema yet.
          </h2>
        </div>
        <p class="card-text">
          Deliver live updates over <%= link_to "Pusher", "https://graphql-ruby.org/subscriptions/pusher_implementation.html" %> or <%= link_to "Ably", "https://graphql-ruby.org/subscriptions/ably_implementation.html" %>
          with GraphQL-Pro's subscription integrations.
        </p>
      </div>
    </div>
  </div>
</div>
