.ruby-version
doc/
.yardoc/
guides/yardoc/
pkg/
Gemfile.lock
gemfiles/*.lock
# Test database
*.db
.bundle/
vendor/
.idea/

_site
.sass-cache
.jekyll-metadata
.jekyll-cache
gh-pages/
tmp/*
__*.db
node_modules/
yarn.lock
OperationStoreClient.js
spec/integration/tmp
.vscode/
*.swp
*.swo
.DS_Store
# These are generated for distribution, but shouldn't be
# versioned with the typescript source (which is in javascript_client/src):
javascript_client/__tests__
javascript_client/subscriptions
javascript_client/sync
javascript_client/cli*
javascript_client/index*
