.ruby-version
doc/
.yardoc/
guides/yardoc/
pkg/
Gemfile.lock
gemfiles/*.lock
# Test database
*.db
.bundle/
vendor/
.idea/

_site
.sass-cache
.jekyll-metadata
.jekyll-cache
gh-pages/
tmp/*
__*.db
node_modules/
yarn.lock
OperationStoreClient.js
spec/integration/tmp
.vscode/
javascript_client/build/
