---
language: ruby
sudo: false
cache: bundler
env: CODECLIMATE_REPO_TOKEN=f5b27b2e25d3f4e199bb2566fb4fd4507144a004c71d4aa33a32c2df5f940333
before_install:
  - gem update --system --no-doc
  - gem install bundler

rvm:
- 2.1.0 # Lowest version officially supported by that gem
- 2.2.5
- 2.3.3
- 2.4.0
- jruby-9.1.5.0

gemfile:
- gemfiles/rails_3.2.gemfile
- gemfiles/rails_4.1.gemfile
- gemfiles/rails_4.2.gemfile
- gemfiles/rails_5.0.gemfile

matrix:
  allow_failures:
  - rvm: jruby-9.1.5.0
  exclude:
  - rvm: 2.4.0
    gemfile: gemfiles/rails_3.2.gemfile
  - rvm: 2.4.0
    gemfile: gemfiles/rails_4.1.gemfile
  - rvm: 2.4.0
    gemfile: gemfiles/rails_4.2.gemfile
  - rvm: 2.1.0
    gemfile: gemfiles/rails_5.0.gemfile # Rails 5 requires Ruby 2.2.2+
  - rvm: jruby-9.1.5.0
    gemfile: gemfiles/rails_5.0.gemfile # Rails 5 is not supported atm
