<% content_for(:title, "Operation Store") %>

<div class="row">
  <div class="col-md col-lg-8 mx-auto pt-4">
    <div class="card mt-4">
      <div class="card-body">
        <div class="card-title">
          <h2>
            <code>OperationStore</code> isn't installed for this schema yet.
          </h2>
        </div>
        <p class="card-text">
          Learn more about improving performance and security with stored operations
          in the <%= link_to "https://graphql-ruby.org/operation_store/overview.html" do %><code>OperationStore</code> docs<% end %>.
        </p>
      </div>
    </div>
  </div>
</div>
