<% content_for(:title, "Operation Store") %>

<div class="row">
  <div class="col-md col-lg-8 mx-auto pt-4">
    <div class="card mt-4">
      <div class="card-body">
        <div class="card-title">
          <h2>
            <%= @component_header_html %>
          </h2>
        </div>
        <p class="card-text">
          <%= @component_message_html %>
        </p>
      </div>
    </div>
  </div>
</div>
