title: GraphQL Ruby
baseurl: ""
url: "http://graphql-ruby.org"

exclude:
  - .gitignore

keep_files: ["api-doc", ".git"]
# Build settings
markdown:         kramdown
highlighter:      rouge

kramdown:
  auto_ids: true
  hard_wrap: false
  input: GFM

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"

algolia:
  application_id: '8VO8708WUV'
  index_name:     'prod_graphql_ruby'

plugins:
  - jekyll-algolia
  - jekyll-redirect-from
