---
title: Guides Index
sections:
  - name: Schema
  - name: Queries
  - name: Types
  - name: Fields
  - name: Relay
  - name: Subscriptions
  - name: GraphQL Pro
  - name: GraphQL Pro - OperationStore
  - name: Other
---

<h1>Guides</h1>
<div class="guides-toc">
  <ul>
    {% for section in page.sections %}
      <li>
        <a href="#{{ section.name }}">{{ section.name }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
<div class="guides">
  {% for section in page.sections %}
    <div class="guide-section">
      <h2 id="{{ section.name }}">{{ section.name }}</h2>
      <ul>
        {% assign sorted_pages = site.pages | sort: "index" %}
        {% for guide in sorted_pages %}
          {% if guide.layout == "guide" and (guide.section == section.name or (guide.other and section.name == "Other")) %}
            <li>
              <p>
                <a href="{% if guide.outbound_url %}{{ guide.outbound_url }}{% else %}{{ site.baseurl }}{{ guide.url }}{% endif %}">{{ guide.title }}</a>
                <span class="guide-desc">
                  {{ guide.desc }}
                </span>
              </p>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
