name: CI Suite
on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
          bundler-cache: true
      - run: bundle exec rake rubocop
  system_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
          bundler-cache: true
        env:
          BUNDLE_GEMFILE: ./spec/dummy/Gemfile
      - run: bundle exec rails test:system
        working-directory: ./spec/dummy
  # Some coverage goals of these tests:
  # - Test once without Rails at all
  # - Test postgres, to make sure that the ActiveRecord
  #   stuff works on that (as well as the default sqlite)
  # - Test mongoid -- and several versions, since they're quite different
  # - Run the tests with Rails _and_ TESTING_LEGACY=1 to test legacy codepaths
  # - Run the JS unit tests once
  # - Test each major version of Rails we support
  # - Test the min/max minor Ruby version we support (and others?)
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - gemfile: Gemfile
            ruby: 2.6
          - gemfile: gemfiles/rails_3.2.gemfile
            ruby: 2.3
          - gemfile: gemfiles/rails_4.2.gemfile
            ruby: 2.4
            bundler: "1"
          # Rails 5.2 is tested with Postgresql below
          - gemfile: gemfiles/rails_6.0.gemfile
            ruby: 2.5
          - gemfile: gemfiles/rails_master.gemfile
            ruby: 2.7
        parallel: [1, 2, 3, 4]
    runs-on: ubuntu-latest
    steps:
      - run: echo BUNDLE_GEMFILE=${{ matrix.gemfile }} > $GITHUB_ENV
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          bundler: ${{ matrix.bundler || 'default' }}
      - run: bundle exec rake test
      - run: echo ${{ matrix.parallel }}
